<div layout="row">
    <div flex="40" layout layout-fill>
        <img flex ng-src="{{me.user.photoUrl}}" alt="{{me.user.userName}}">
    </div>
    <div flex layout="column">
        <h4>{{me.user.userName}}</h4>
        <p>Since {{me.user.createdDate | date: 'shortDate'}}</p>
        <p>Favourite Dishes
            <md-chip>{{me.user.favouriteDishes.length}}</md-chip>
        </p>
    </div>
</div>
<hr>
<h3>Favourite Dishes</h3>
<md-content>
    <md-list>
        <md-list-item class="md-3-line" ng-repeat="dish in me.user.favouriteDishes">
            <a ng-href="dishes/{{dish._id}}"><img ng-src="{{dish.imageUrl}}" alt="{{dish.name}}"></a>
            <div class="md-list-item-text">
                <h3>{{dish.name}}</h3>
                <h4>Total time - {{dish.totalTime}} | Difficulty - {{dish.difficulty}}</h4>
                <p><span ng-repeat="tag in dish.tags">{{tag}}</span></p>
            </div>
        </md-list-item>
    </md-list>
</md-content>
