<div layout="row" layout-wrap layout-align="start start">
    <div class="md-padding list-item-container" layout="column" ng-repeat="dish in dishList.dishes" flex="100" flex-gt-sm="50" flex-gt-lg="33">
        <a flex="80" ng-href="/dishes/{{dish._id}}">
            <img flex ng-src="{{dish.imageUrl}}" alt="{{dish.name}}" title="{{dish.name}}">
        </a>
        <div flex="20" class="list-item-footer">
            <h3 class="md-subhead">{{dish.name}}</p>
            <p class="md-caption"><span class="plain-tag" ng-repeat="tag in dish.tags">{{tag}}</span></p>
        </div>
    </div>
</div>
