<div class="full-height-content page-hero blur-hero" style="background-image: url('{{dishManage.dish.imageUrl}}')" ng-cloak>
    <div layout layout-align="center" class="recipt-info-edit">
        <div flex="50" layout ng-class="{'recipt-form-block': dishManage.wizardMode, 'left-panel' : dishManage.showLeftPanel}">
            <form flex layout="column" layout-margin layout-padding layout-align="end" name="formReciptBasic" ng-submit="formReciptBasic.$valid && dishManage.submitNext(formReciptBasic.$dirty)">
                <md-input-container>
                    <label>Name (required)</label>
                    <input required ng-model="dishManage.dish.name">
                </md-input-container>
                <div layout="row" layout-align="space-between start">
                    <div flex="40">
                        <md-input-container flex>
                            <label>Prep Time(min)</label>
                            <input ng-model="dishManage.dish.prepTime">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Total Time(min)</label>
                            <input ng-model="dishManage.dish.totalTime">
                        </md-input-container>
                        <md-select placeholder="Difficulty" ng-model="dishManage.dish.difficulty">
                            <md-option ng-repeat="item in dishManage.difficulties" value="{{$index+1}}">{{item}}</md-option>
                        </md-select>
                    </div>
                    <div flex="50">
                        <p class="md-caption">Main Ingredients</p>
                        <div layout>
                            <md-chips ng-model="dishManage.dish.ingredients" placeholder="+Ingredient" secondary-placeholder="+Ingredient" delete-button-label="Remove Ingredient"></md-chips>
                        </div>
                    </div>
                </div>
                <div layout>
                    <md-button type="submit" class="hero-btn" ng-disabled="formReciptBasic.$invalid">{{dishManage.wizardMode? 'Next' : 'Save'}}
                    </md-button>
                </div>
            </form>
        </div>
        <div flex="50" layout ng-class="{'recipt-form-block': dishManage.wizardMode, 'right-panel': dishManage.showRightPanel}">
            <form flex name="formReciptExtra" layout="column" layout-margin layout-padding ng-submit="dishManage.submitNext(formReciptExtra.$dirty)">
                <p class="md-body-2">What's in your mind while cooking? Any story behind this recipt?</p>
                <div class="dish-blog-container">
                    <textarea ng-model="dishManage.dish.blog" ng-trim="true"></textarea>
                </div>
                <p class="md-body-2">Input some key words about the recipt for easy seaching</p>
                <div layout>
                    <md-chips ng-model="dishManage.dish.tags" placeholder="Enter a tag" secondary-placeholder="+Tag" delete-button-label="Remove Tag"></md-chips>
                </div>
                <div layout layout-align="end" class="bottom-btn-container">
                    <md-button type="submit" class="hero-btn">{{dishManage.wizardMode? 'Next' : 'Save'}}
                    </md-button>
                </div>
            </form>
        </div>
    </div>
    <div ng-show="!dishManage.wizardMode || dishManage.showHeroButtons" layout layout-align="center center" class="hero-btn-container">
        <md-button class="hero-btn" ng-click="dishManage.showBottomSheet=true">Upload Photos</md-button>
        <md-button ng-href="/me/dishes/{{dishManage.dish._id}}/instructions" class="hero-btn solid-btn">Enter Instructions</md-button>
    </div>
    <div layout="column" class="recipt-edit-bottomsheet" ng-class="{'slide-up': dishManage.showBottomSheet}">
        <div layout>
            <p flex class="md-subhead">Upload extra photos to show off your recipt</p>
            <md-button flex class="md-icon-button md-primary" ng-click="dishManage.submitPhotos()">
                <md-icon md-svg-icon="arrow-down" class="medium-icon"></md-icon>
            </md-button>
            <span flex></span>
        </div>
        <div flex layout layout-margin>
            <div flex layout="column" layout-align="center">
                <div layout="column" flex style="background-image:url('{{dishManage.dish.imageUrl}}')" class="new-recipt-image">
                    <image-upload image="dishManage.dish.imageUrl"></image-upload>
                </div>
                <md-button class="md-primary">Main Image</md-button>
            </div>
            <div flex ng-repeat="photo in dishManage.dish.photos track by $index" layout="column" layout-align="center">
                <div flex layout="column" style="background-image:url('{{photo}}')" class="new-recipt-image">
                    <image-upload image="dishManage.dish.photos[$index]"></image-upload>
                </div>
                <md-button ng-click="dishManage.removePhoto($index)">Remove</md-button>
            </div>
        </div>
    </div>
</div>
