<div layout layout-align="center center" class="full-height-content instruction-container">
    <md-button ng-if="dishInstruction.currentIndex>0" class="nav-btn" ng-click="dishInstruction.showPre()">
        <md-icon md-svg-icon="pre"></md-icon>
    </md-button>
    <div ng-repeat="instruction in dishInstruction.instructions" ng-if="dishInstruction.isWithinShowRange($index)" ng-class="dishInstruction.setNavClass($index)" class="dish-instruction-hero" layout="column" layout-align="end center" style="background-image: url('{{instruction.photo}}')">
        <div class="text-container">
            <p><strong>Step {{$index+1}}: </strong>{{instruction.text}}</p>
        </div>
    </div>
    <div flex>
    </div>
    <md-button ng-if="dishInstruction.currentIndex<dishInstruction.instructions.length-1" class="nav-btn" ng-click="dishInstruction.showNext()">
        <md-icon md-svg-icon="next"></md-icon>
    </md-button>
</div>
