<div class="row">
    <div ng-repeat="dish in dishList.dishes" class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="/dishes/{{dish._id}}">
                <img src="{{dish.imageUrl}}" alt="{{dish.name}}">
            </a>
            <div class="caption">
                <h4>{{dish.name}}</h4>
                <p>
                    <span class="label label-info" ng-repeat="tag in dish.tags">{{tag}}</span>
                </p>
                <p>
                    <a href="#" class="btn btn-default" role="button">like</a>
                    <a href="#" class="btn btn-default" role="button">share</a>
                </p>
                <p>
                    <a href="/dishes/{{dish._id}}" class="btn btn-info" role="button">edit</a>
                    <a href="#" ng-click="dishList.deleteDish(dish._id)" class="btn btn-danger" role="button">delete</a>
                </p>
            </div>
        </div>
    </div>
</div>
