<div layout layout-fill class="full-height-content page-hero blur-hero recipt-share-hero">
    <div flex="60" layout="column" layout-align="center center">
        <h2 class="md-display-1">Share your recipts, Share your taste</h2>
        <h3>Your delicious memory needs an elegant page to be placed.</h3>
    </div>
    <div flex layout="column" class="share-right-col">
        <form ng-if="share.isLogined" flex layout="column" layout-align="center" name="formCreate" ng-submit="formCreate.$valid && share.create()" novalidate class="share-recipt-form">
            <p class="md-subhead">What's your secrect recipt name?</p>
            <input autofocus required name="name" ng-model="share.newRecipt.name">
            <p class="md-subhead">What does your work look like?</p>
            <div class="new-recipt-image" style="background-image: url('{{share.newRecipt.imageUrl}}')">
                <image-upload image="share.newRecipt.imageUrl"></image-upload>
            </div>
            <md-button type="submit" ng-disabled="formCreate.$invalid || share.newRecipt.imageUrl == ''" class="md-primary">Submit</md-button>
        </form>
        <div ng-if="!share.isLogined" ng-controller="LoginController as login" class="" flex layout="column" layout-align="center">
            <div class="login-container animate-if" ng-if="share.showLogin">
                <p class="md-subhead">Login to your account and start sharing</p>
                <form name="formLogin" ng-submit="formLogin.$valid && login.login()" novalidate class="share-login-form">
                    <input type="email" placeholder="Email" ng-focus="login.loginFailed=false" required name="email" ng-model="login.email">
                    <input ng-focus="login.loginFailed=false" type="password" required name="password" placeholder="Password" ng-model="login.password">
                    <button class="md-primary" ng-disabled="formLogin.$invalid" type="submit">
                        <md-icon md-svg-icon="next" class="initial-icon"></md-icon>
                    </button>
                </form>
                <div class="msg-container">
                    <p ng-if="login.loginFailed" class="md-caption warn-color animate-show">Email/Password are not correct.</p>
                </div>
                <div layout class="other-login-container">
                    <md-button flex md-theme="blue" ng-click="login.fbLogin()" class="md-raised md-primary">
                        Facebook
                    </md-button>
                    <md-button class="hero-btn" flex ng-click="share.toggleLogin(false)">Sign Up</md-button>
                </div>
            </div>
            <div class="signUp-container animate-if" ng-if="share.showSignUp">
                <p class="md-subhead">Create an account to store your taste</p>
                <form layout="column" name="formSignUp" ng-submit="formSignUp.$valid && login.signUp()" novalidate class="share-signUp-form">
                    <input placeholder="Nick name" ng-focus="login.loginFailed=false" required name="username" ng-model="login.userName">
                    <input type="email" placeholder="Email" ng-focus="login.loginFailed=false" required name="email" ng-model="login.email">
                    <input ng-focus="login.loginFailed=false" type="password" required name="password" placeholder="Password" ng-model="login.password">
                    <button class="solid-btn" type="submit">
                        Submit
                    </button>
                    <span class="md-caption">Or using social accounts to get in:</span>
                    <md-divider class="or-divider"></md-divider>
                    <button flex ng-click="login.fbLogin()" class="solid-btn fb-btn">
                        Facebook
                    </button>
                    <p class="md-caption">Already have an account?
                        <md-button class="md-primary" ng-click="share.toggleLogin(true)">Login</md-button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
