<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
        <h3>Manage Dishes</h3>
        <span flex></span>
        <md-button ng-click="dishList.addDish()">
            <md-icon class="big-icon" md-svg-icon="add" title="Add New Dish"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<div layout="row">
    <div flex="20">
    </div>
    <md-content flex="60">
        <md-list>
            <md-list-item ng-repeat-start="dish in dishList.dishes" class="md-2-line" ng-click="dishList.goToEdit(dish._id)">
                <img ng-src="{{dish.imageUrl}}" alt="{{dish.name}}" class="md-avatar">
                <div class="md-list-item-text">
                    <h3>{{dish.name}}</h3>
                    <p><span ng-repeat="tag in dish.tags">{{tag}}</span></p>
                </div>
                <md-icon md-svg-icon="delete" class="md-secondary md-warn" ng-click="dishList.deleteDish($index)"></md-icon>
            </md-list-item>
            <md-divider ng-repeat-end></md-divider>
        </md-list>
    </md-content>
    <div flex="20">
    </div>
</div>
