@import 'mixins'

.recipt-edit-bottomsheet{
	position: absolute;
	background-color: rgba(0,0,0,0.8);
	bottom: 0;
	height: 400px;
	transition: bottom 1.2s ease;
	
	p{
		padding-left: 16px;
	}
}

.slide-down{
	bottom: -400px;
}