@import 'mixins'

.login-dialog{
	border-radius: 5px;
	border-top: 5px solid theme-color;

	button{
		margin-bottom: 0px;
	}
	
	md-icon{
		color: dark-font-color;
	}
	
	md-content{
		padding: 48px 24px 16px 24px;
	}
	
	md-input-container:last-child{
		padding-bottom: 10px;
	}
	
	md-dialog-content{
		padding-top: 24px;
	}
	
	.dialog-logo{
		width: 80px;
		height:80px;
		margin: 0 auto;
		background-color:#FFF;
		border-radius: 50%;
		
		md-icon{
			color: theme-color;
			width: 64px;
			height: 64px;
		}
	}
}