@import 'mixins'

.profile-container{
	background-color: grey-background-color;
	padding-top: 64px;
	min-height: 100%;
	
	md-tabs md-content{
		padding: 15px 0;
		height: 100%;
	}
}

.profile-photo-container{
	padding-bottom: 70%;
	background-color: grey-background-color;
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	
	.image-upload-container{
		min-height: 100%;
	}
}

.profile-left-col{
	padding-top:64px;
}

.profile-left-col > *{
	width: 70%;
}

.favourite-item{
	margin-bottom: 16px;
}

.spinner-container{
	width:100%;
}
