/* Variables */
//Font
main-font = "open sans", sans-serif

accent-font = "Montserrat", sans-serif

default-font-size = 1em

sm-font-size = 0.8em

lg-font-size = 1.3em

icon-size = 24px;

theme-color = #F27242

dark-font-color = #515252;

light-font-color = #F2F2F2;

grey-background-color = #F4F7F8

warn-color = rgb(198,40,40)

light-border = 1px solid rgba(250,250,250,0.4)
dark-border = 1px solid rgba(0,0,0,0.4)

fb-theme-color = #6984b4;

animation()
	animation: arguments

transform()
	transform: arguments