/* Variables */
//Font
main-font = "open sans", sans-serif

accent-font = "Montserrat", sans-serif

default-font-size = 1em

sm-font-size = 0.8em

lg-font-size = 1.3em

//main
body{
	font-family: main-font
}

//home 
.hero-container{
	background-image: url(https://assets0.munchery.com/assets/referral/referrals-page-hero20@2x-14ed2ae984b7fd3e9fa937352f732f5e.jpg)
	background-size: cover
	padding-bottom: 30px;
	background-color: rgba(255,255,255,0.9);
  	background-position: 50% 50%;
  	background-repeat: no-repeat;
 	overflow: auto;
 	height: 400px;
}

.hero-btn{
	margin: 0 15px;
	height: 36px;
	width: 100px;
}

.login-btn-icon{
	height: 48px;
	width: 48px;
}

.md-button{
	border-radius: 0!important;
}


