/* Variables */
//Font
main-font = "open sans", sans-serif

accent-font = "Montserrat", sans-serif

default-font-size = 1em

sm-font-size = 0.8em

lg-font-size = 1.3em

theme-color = #F27242

grey-background-color = #F4F7F8

animation(a)
	-webkit-animation: a
	-moz-animation: a
	-ms-animation: a
	-o-animation: a
	animation: a

transform(t)
	-webkit-transform: t
	-moz-transform: t
	-ms-transform: t
	-o-transform: t
	transform: t

all-ease-transition(s)
	-webkit-transition: all s ease-in
  	-moz-transition: all s ease-in
  	-ms-transition: all s ease-in
  	-o-transition: all s ease-in
  	transition: all s ease-in  	


//main
html, body{
	font-family: main-font;
	height:100%;
	margin:0;
	color: #515252;
}

.bounce{
	animation(bounce 2s infinite)
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform(translateY(0));
  }
	40% {
    transform(translateY(-30px));
  }
	60% {
    transform(translateY(-15px));
  }
}

.initial-icon{
	height: initial
	width: initial
}

.full-height-content{
	height:100%;
	min-height:100%;
}

html>body .full-height-content{
	height:auto;
}

.main{
	height:100%;
}

.logo-link{
	width:50px;
	height:50px;
	margin-left:30px;
}

.logo-text{
	color:theme-color;
	font-weight:bold;
}

.top-menu-bar{
	position: fixed;
	top: 0;
	left: 0;
	height: 64px;
	width: 100%;
	background-color: rgba(255,255,255,0.5);
	z-index: 10;
}

.animation-block{
	all-ease-transition(0.55s);
}

.primary-bar{
	background-color: theme-color;
	.logo-text{
		color: #FFF;
	}
}

.responsive-img{
	width: 100%;
	height: 100%;
}

.center-text{
	text-align:center;
}

.circle-img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.big-icon{
	height: 48px;
	width: 48px;
}

//mobile menu
.mobile-menu-container{
	height:101px;
	background-color:#FF8A65;
	color: #FFF;
	
	md-list-item{
		height: 50px;
	};
}

.mobile-menu-container.ng-hide{
	height:0px;
}

.bottom-section{
	background-color: grey-background-color;
	position:relative;
}

.footer{
	background-color: #FFF
	height: 200px;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.footer >*{
	height: 75%;
	border-left: 1px solid #e8ebe9;
}

.footer >*:first-child{
	border-left: none;
}

//home 
#divLanding{
	background: url(../images/landing-background.png) center no-repeat scroll;
	background-size: cover;
}

.see-more-container{
	color: #FFF;
	font-size:lg-font-size;
	padding-bottom: 20px;
	
	p{
		margin: 0;
	}
	
	md-button{
		color: #FFF;
		width: 100px;
	}
}

.hero-container{
	background-image: url(https://assets0.munchery.com/assets/referral/referrals-page-hero20@2x-14ed2ae984b7fd3e9fa937352f732f5e.jpg)
	background-size: cover
	padding-bottom: 30px;
	background-color: rgba(255,255,255,0.9);
  	background-position: 50% 50%;
  	background-repeat: no-repeat;
 	overflow: auto;
 	height: 400px;
}

.hero-btn{
	border: 1px solid theme-color;
	color: theme-color;
	border-radius: 20px;
	height: 40px;
	width: 200px;
	font-size: 16px;
}

.solid-btn{
	color: #FFF;
	background-color: theme-color;
}

.round-btn{
	border-radius: 20px;
}

.light-btn{
	border: 1px solid #FFF;
	color: #FFF;
}


.tile-grid-container{
	padding: 76px 12px 12px 12px;
}

.tile-grid-container img{
	width: 100%;
	height: 100%;
}

.show-card{
	width:100%;
	height:100%;
	position: relative;
	overflow: hidden;

	.mask{
		width: 100%;
		height: 100%;
		position: absolute;
		overflow:hidden;
		top: 0;
		left: 0;
		opacity: 0;
		background-color: rgba(0,0,0,0.4);
		transition: all 0.4s ease-in-out;

		.md-title{
			background-color: rgba(0,0,0,0.7);
			transition: all 0.2s ease-in-out;
			color: #F2F2F2;
		}
		
		h3, p{
			color: #FFF!important;
		}
		
		md-icon{
			color: #FFF;
		}
		
		*{
			opacity: 0;
		}
	}
	
	img{
		transition: all 0.2s linear;
	}
}

.info-card{
	padding-bottom: 20px;
	
	.go-cook-btn{
		margin-top: 10px;
	}
}

.show-card:hover{
	img{
		transform: scale(1.2);
	}
	
	.mask{
		opacity: 1;
		
		*{
			opacity: 1;
		}
	}
}

.show-card:hover md-list{
	transition-delay: 0.2s;
}
	
.show-card:hover .go-cook-btn{
	transition-delay: 0.4s;
}

.small-tile h3{
	font-size: default-font-size!important;
}

.small-tile p{
	font-size: 10px!important;
}

.italic-list{
	font-family: accent-font;
	font-style: italic;
}

.italic-list li{
	padding: 4px 0;
}

//login dialog
.login-btn-icon{
	height: 48px;
	width: 48px;
	color: #FFF;
}

.fb-btn{
	background-color:#6984b4;
	color: #FFF;
}

.login-dialog .md-button{
	margin:0;
}

.avatar {
  position: relative;
  width: 90px;
  height: 90px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}

//Profile Page
.profile-head 
	height: 100%
	& img
		width:100%

.profile-head .vertical-divider{
  	margin: 0 20px;
}

.vertical-divider{
	border-top: 0;
  	border-left: 1px solid;  
  	border-left-color: rgba(0, 0, 0, 0.3);
  	height:100%;
}

//Dish detail Page
.bottom-actions-container{
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.2);
	width: 100%;
	color: #FFF;
	height:80px;
}

.favorite-icon{
	position:absolute;
	top:20px;
	right: 20px;
}

.blog{
	margin-bottom: 10px;
	text-align: justify;
}

.step{
	padding-right: 16px;
}

.dish-hero{
	position:relative;
}

.share-buttons{
	position:absolute;
	bottom: 20px;
	left: 20px;
}

.speed-menu{
	position:fixed;
	right: 20px;
	bottom:40px;
}

.right-col img{
	width: 100%;
	border: 1px solid rgba(0,0,0,0.2)
}

.related-item{
	margin-bottom: 10px;
}

//Dish All Page
.list-item-container{
	margin-bottom: 16px;
}

.list-item-footer{
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.list-item-container img{
	width: 100%;
	border: 1px solid rgba(0,0,0, 0.2);
}

.list-item-container .md-subhead{
	margin: 8px 0;
}

.plain-tag{
	margin-right: 5px;
}

//admin single Page
.image-holder{
	min-height:180px;
	border: 1px solid rgba(0,0,0,0.12);
	border-top:0;
}

.blog-text{
	text-align: justify;
}

.photo-edit-container{
	position: relative;
}

.admin-photo-delete{
	position: absolute;
	right:-8px;
	top:15px;
}

.photo-edit-container md-input-container{
	padding:0;
}

.status-success{
	color:#12B55E!important;
}

.status-normal{
	all-ease-transition(0.55s);
}

//MD
md-list{
	padding: 0;
}

md-list-item p{
	line-height: 22px;
}

md-select{
	padding-top: 0;
}

.md-list-item-text span {
	margin-right: 8px;
}

label.md-title{
	margin: 16px 0 5px 10px;
}

//animation

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.4s;
  transition: all linear 0.4s;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

//overwrite booklet style
.booklet .b-page-cover{
	background:none;
}

.book-img-page{
	height: 100%;
	background-size:cover!important;
}

.img-mask{
	background-color: rgba(0,0,0,0.2);
	width:100%;
	height:100%;
}

.book-title{
	color: #FFF;
	text-align:center;
}

.book-text{
	padding: 16px;
}

.book-backdrop{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.8);
	z-index:79;
}

md-dialog-content.book-container{
	padding: 14px;
}
