/* Variables */
html,
body {
  font-family: "open sans", sans-serif;
}
.circle-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.mobile-menu-container {
  height: 101px;
  background-color: #ff8a65;
  color: #fff;
}
.mobile-menu-container md-list-item {
  height: 50px;
}
.mobile-menu-container.ng-hide {
  height: 0px;
}
.hero-container {
  background-image: url("https://assets0.munchery.com/assets/referral/referrals-page-hero20@2x-14ed2ae984b7fd3e9fa937352f732f5e.jpg");
  background-size: cover;
  padding-bottom: 30px;
  background-color: rgba(255,255,255,0.9);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: auto;
  height: 400px;
}
.hero-btn {
  margin: 0 15px;
  height: 36px;
  width: 100px;
}
.tile-grid-container md-grid-tile {
  transition: all 500ms ease-out;
}
.tile-grid-container img {
  width: 100%;
  height: 100%;
}
.tile-grid-container md-grid-tile-footer h4 {
  font-weight: bold;
}
.flip-container {
  perspective: 1000;
}
.flip-container,
.flipper,
.front,
.back {
  height: 100%;
  width: 100%;
}
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}
.flipper {
  transition: 0.8s;
  transform-style: preserve-3d;
  position: relative;
}
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.front {
  z-index: 2;
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(180deg);
}
.big-tile md-whiteframe {
  padding: 24px 32px;
}
.small-tile h3 {
  font-size: 0.8em !important;
}
.small-tile p {
  font-size: 10px !important;
}
.italic-list {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}
.italic-list li {
  padding: 4px 0;
}
.login-btn-icon {
  height: 48px;
  width: 48px;
}
.fb-btn {
  background-color: #6984b4;
  color: #fff;
}
.login-dialog .md-button {
  margin: 0;
}
.avatar {
  position: relative;
  width: 90px;
  height: 90px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom: 0.7;
  transform: translateZ(0);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
}
.profile-head {
  height: 100%;
}
.profile-head img {
  width: 100%;
}
.profile-head .vertical-divider {
  margin: 0 20px;
}
.vertical-divider {
  border-top: 0;
  border-left: 1px solid;
  border-left-color: rgba(0,0,0,0.3);
  height: 100%;
}
.blog {
  margin-bottom: 10px;
  text-align: justify;
}
.step {
  padding-right: 16px;
}
.dish-hero {
  position: relative;
}
.share-buttons {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.comment-button {
  position: fixed;
  right: 20px;
  bottom: 40px;
}
.list-item-container {
  margin-bottom: 16px;
}
.list-item-footer {
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.list-item-container img {
  width: 100%;
  border: 1px solid rgba(0,0,0,0.2);
}
.list-item-container .md-subhead {
  margin: 8px 0;
}
.plain-tag {
  margin-right: 5px;
}
md-list {
  padding: 0;
}
md-list-item p {
  line-height: 22px;
}
.md-list-item-text span {
  margin-right: 8px;
}
label.md-title {
  margin: 16px 0 5px 10px;
}
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.4s;
  transition: all linear 0.4s;
}
