<div id="divDinnerHero" class="show-hero" layout="column" layout-align="center center">
    <h2>Thinking about hosting a formal dinner?</h2>
    <h2>Love juicy steak with a glass of wine?</h2>
    <h2>Enjoy your sweet desert...</h2>
</div>
<div top-menu-reached="{primaryTheme: false, hidden: true, text:'spicy taste'}" class="show-desc light-bg" layout="row" layout-align="center center">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<div class="triangle-down">
</div>
<div layout="column" class="show-container">
    <section layout="row" class="show-item">
        <div flex class="left-container" layout="row" layout-align="end center">
            <div show-time="{offset: 200}" class="item-block left-panel notViewed">
                <img src="http://vancouver.pedersens.com/upload/planner/recipes/appy/cucumber_rounds_w300.jpg">
            </div>
        </div>
        <div flex class="right-container" layout="row" layout-align="start center">
            <p class="show-item-tag center-text">Appetizer</p>
            <div show-time="{offset: 0}" class="item-block notViewed right-panel show-item-desc">
                <h4>Contrary to popular belief</h4>
                <p>Cras nunc neque, fermentum ac elit vitae, vehicula consequat lacus. Suspendisse suscipit enim non scelerisque sagittis. Morbi ullamcorper metus et pretium molestie.</p>
            </div>
        </div>
    </section>
    <section layout="row" class="show-item">
        <div flex class="left-container" layout="row" layout-align="end center">
            <div show-time class="item-block notViewed left-panel show-item-desc">
                <h4>Aenean pulvinar enim sem</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div flex class="right-container" layout="row" layout-align="start center">
            <p class="show-item-tag center-text">Soup</p>
            <div show-time="{offset: 200}" class="item-block notViewed right-panel">
                <img src="http://www.taste.com.au/images/recipes/tas/2012/05/29155_l.jpg">
            </div>
        </div>
    </section>
    <section layout="row" class="show-item">
        <div flex class="left-container" layout="row" layout-align="end center">
            <div show-time="{offset: 200}" class="item-block left-panel notViewed">
                <img src="https://images.unsplash.com/photo-1432139555190-58524dae6a55?q=80&fm=jpg&s=66c5f8478d54feddba8cfc9b901a4e32">
            </div>
        </div>
        <div flex class="right-container" layout="row" layout-align="start center">
            <p class="show-item-tag center-text">Main Dish</p>
            <div show-time="{offset: 0}" class="item-block notViewed right-panel show-item-desc">
                <h4>Contrary to popular belief</h4>
                <p>Cras nunc neque, fermentum ac elit vitae, vehicula consequat lacus. Suspendisse suscipit enim non scelerisque sagittis. Morbi ullamcorper metus et pretium molestie.</p>
            </div>
        </div>
    </section>
    <section layout="row" class="show-item">
        <div flex class="left-container" layout="row" layout-align="end center">
            <div show-time class="item-block notViewed left-panel show-item-desc">
                <h4>Aenean pulvinar enim sem</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div flex class="right-container" layout="row" layout-align="start center">
            <p class="show-item-tag center-text">Wine</p>
            <div show-time="{offset: 200}" class="item-block notViewed right-panel">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Tempranillowine.jpg">
            </div>
        </div>
    </section>
    <section layout="row" class="show-item">
        <div flex class="left-container" layout="row" layout-align="end center">
            <div show-time="{offset: 200}" class="item-block left-panel notViewed">
                <img src="http://theluxtraveller.com/wp-content/uploads/2013/11/Dessert-recipes.jpg">
            </div>
        </div>
        <div flex class="right-container" layout="row" layout-align="start center">
            <p class="show-item-tag center-text">Dessert</p>
            <div show-time="{offset: 0}" class="item-block notViewed right-panel show-item-desc">
                <h4>Contrary to popular belief</h4>
                <p>Cras nunc neque, fermentum ac elit vitae, vehicula consequat lacus. Suspendisse suscipit enim non scelerisque sagittis. Morbi ullamcorper metus et pretium molestie.</p>
            </div>
        </div>
    </section>
</div>
