<md-dialog aria-label="Add Photo" flex="60" flex-lg="40">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Photo</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="photoDlg.closeDialog()">
                    <md-icon md-svg-icon="svg/ic_close_24px.svg" aria-label="close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content photo-edit-container">
                <md-input-container md-no-float>
                    <input ng-model="photoDlg.newPhoto" placeholder="New Photo Url">
                </md-input-container>
                <div class="image-holder">
                    <img ng-src="{{photoDlg.newPhoto}}" ng-class="{'responsive-img' : photoDlg.newPhoto != ''}" />
                </div>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-disabled="photoDlg.newPhoto.trim() == ''" ng-click="photoDlg.submit()" class="md-primary">
                Submit
            </md-button>
        </div>
    </form>
</md-dialog>
